.hello {
    background-color: rgb(50, 182, 100);
    width: 200px;
    margin-left: 20px;
}

.buttons {
    margin-left: 20px;
}

.section {
    margin-left: 40px;
}

.section-block {
    margin-top: 20px;
    width: 400px;
}

/* rules */
.rules {
    color: gold ;
}

.common-rule {
    list-style: upper-roman;
    font-size: 20px;
}

.first-rule {
    color: red;
}

.last-rule {
    color: green;
}
